{{ define "body" }}
    <div class="intro">
        <div class="jumbotron white-bg">
            <div class="container">
                <h1>{{ .Site.Params.Author }}</h1>
                <h4>{{ .Site.Params.Description }}</h4>

                <hr class="my-4">

                <p><a href="https://github.com/cvandal"><i class="fab fa-github rainbow-text"></i></a> <a href="https://twitter.com/cvandal1985"><i class="fab fa-twitter rainbow-text"></i></a> <a href="https://www.linkedin.com/in/cvandal"><i class="fab fa-linkedin-in rainbow-text"></i></a> <a href="mailto:chris@cvd.id.au"><i class="fas fa-envelope rainbow-text"></i></a> <a href="/blog"><i class="fas fa-blog rainbow-text"></i></a></p>
            </div>
        </div>
    </div>
{{ end }}
