{{ define "main" }}
    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img class="me" src="{{ .Site.BaseURL }}/images/me.jpg" alt="Chris van Dal" />
                </div>
                <div class="col">
                    <div class="about">
                        <h1>Chris van Dal</h1>

                        <p>C#, PowerShell, Windows, Linux, Baseball, Karate, '80s Japanese Cars, Music, and Games</p>

                        <a href="https://github.com/cvandal"><i class="fab fa-github"></i></a>
                        <a href="https://twitter.com/cvandal1985"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/cvandal"><i class="fab fa-linkedin-in"></i></a>
                        <a href="mailto:chris@cvd.id.au"><i class="fas fa-envelope"></i></a>
                        <a href="/posts"><i class="fas fa-blog"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ end }}
