{{ define "body" }}
    {{ partial "jumbotron.html" . }}

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3">
            {{ $paginator := .Paginate (where .Pages "Type" "blog") 9 }}
            {{ range $paginator.Pages }}
                <div class="col mb-4">
                    <a class="card h-100" href="{{.Permalink}}">
                        <img class="card-img-top" src="{{ .Params.Image }}" alt="{{.Title}}">
                        <div class="card-body">
                            <h4 class="card-title">{{.Title}}</h4>
                        </div>
                    </a>
                </div>
            {{ end }}
        </div>

        {{ template "_internal/pagination.html" . }}
    </div>
{{ end }}
