/*
Background1  = #20222b
Background2  = #242631
Background3  = #282a36
Curent Line  = #44475a
Foreground   = #f8f8f2
Comment      = #6272a4
Cyan         = #8be9fd
Green        = #50fa7b
Orange       = #ffb86c
Pink         = #ff79c6
Purple       = #bd93f9
Red          = #ff5555
Yellow       = #f1fa8c
*/

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  font-size: 1rem;
  color: #f8f8f2;
  background: #242631;
}

h1 {
  margin: 0;
  font-size: 4.5rem;
  font-weight: bold;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h6 {
  margin: 0;
  font-size: 1.25rem;
}

a {
  color: #8be9fd;
}

a:hover {
  color: #8be9fd;
}

header {
  margin: 50px 0 50px 0;
  text-align: center;
}

header h1 a {
  text-decoration: none;
  color: transparent;
  background: -webkit-linear-gradient(
    45deg,
    #282a36,
    #bd93f9,
    #8be9fd,
    #282a36
  );
  background: -moz-linear-gradient(45deg, #282a36, #bd93f9, #8be9fd, #282a36);
  background: -o-linear-gradient(45deg, #282a36, #bd93f9, #8be9fd, #282a36);
  background: linear-gradient(45deg, #282a36, #bd93f9, #8be9fd, #282a36);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

header h1 a:hover {
  color: transparent;
}

header h2 {
  padding: 15px 15px;
}

.brands {
  padding: 15px 15px;
}

.brands i {
  margin: 0 25px;
  font-size: 1.5em;
  color: #f8f8f2;
}

.brands i:hover {
  color: #8be9fd;
}

.card {
  flex-direction: row;
  align-items: center;
  height: 250px;
  color: #f8f8f2;
  background-color: #282a36;
  text-decoration: none;
  border: none;
  border-radius: 25px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.card:hover {
  color: #f8f8f2;
  text-decoration: none;
  box-shadow: 0 8px 16px 0 rgba(139, 233, 253, 0.1);
}

.card-img-top {
  max-width: 20vw;
  height: inherit;
  padding: 20px 20px;
  object-fit: contain;
  background-color: #242631;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

@media only screen and (max-width: 800px) {
  .card-img-top {
    max-width: 30vw;
    height: inherit;
    padding: 20px 20px;
    object-fit: contain;
    background-color: #242631;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
}

.card-body {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  padding: 25px 25px;
}

.card-title {
  width: 100%;
  margin: 0 0 25px 0;
  text-align: center;
}

.card-publish-date {
  width: 100%;
  margin: 0;
  text-align: center;
  color: #8be9fd;
}

.article {
  margin: 0 0 25px 0;
  padding: 25px 25px;
  background-color: #282a36;
  border-radius: 25px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.article h1 {
  margin: 0 0 25px 0;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .article h1 {
    font-size: 3em;
  }
}

.article h2 {
  margin: 0 0 25px 0;
}

.article h6 {
  margin: 0 0 25px 0;
  text-align: center;
}

.article blockquote {
  margin: 0 0 25px 0;
  padding: 25px 25px;
  background-color: #44475a;
  border-left: solid 10px #bd93f9;
}

.article blockquote p {
  margin: 0;
}

.article ol {
  margin: 0 0 25px 0;
  line-height: 200%;
}

.article ol li p {
  margin: 0;
  padding: 0;
}

.article code {
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
  color: #8be9fd;
  background-color: #242631;
}

.article pre {
  margin: 0 0 25px 0;
  padding: 25px 25px;
  background-color: #242631;
}

.article pre code {
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
  background-color: #242631;
}

.article img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.pagination li:nth-child(2) {
  margin-left: 25px;
}

.pagination li a,
.pagination li span {
  border-radius: 25px !important;
}

.page-link {
  color: #f8f8f2;
  background-color: #282a36;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.page-link:hover {
  color: #8be9fd;
  background-color: #282a36;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}
