<div class="row">
    <div class="col">
        <header>
            <h1><a href="/">#!/bin/cvd</a></h1>

            <h2 class="banner">C#, PowerShell, Windows, Linux, Baseball, Karate, '80s Japanese Cars, Music, and Games</h2>

            <div class="brands">
                <a href="https://github.com/cvandal" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://twitter.com/cvandal1985" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/cvandal" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="mailto:chris@cvd.id.au" target="_blank"><i class="fa-solid fa-at"></i></a>
            </div>
        </header>
    </div>
</div>
