---
export interface Props {
	prevUrl: string;
	nextUrl: string;
}

const { prevUrl, nextUrl } = Astro.props;
---

<div class="row">
    <div class="col">
        <nav>
            <ul class="pagination justify-content-end">
                {prevUrl && <li class="page-item"><a class="page-link" href={prevUrl}>Prev</a></li>}
                {nextUrl && <li class="page-item"><a class="page-link" href={nextUrl}>Next</a></li>}
            </ul>
        </nav>
    </div>
</div>
