---
import "../styles/style.css";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { content } = Astro.props;
const title = "Chris van Dal - " + content.title;
---

<html lang="en">
	<Head title={title} />

	<body>
		<main class="container">
			<Header />

			<article class="article">
				<slot />
			</article>
		</main>

		<Footer />
	</body>
</html>
